*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s linear;
   
}

:root{
    --blue: #007bff;
    --cyan: #17a2b8;
}

body{
    font-family: sans-serif;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    right: 0; left: 0;
    z-index: 2;

}

.header .header-main{
    background-color: rgba(36,41,62,.8) !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
}

.header .header-main .header-right{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.header .header-main .header-right .menu{
    list-style: none;
    display: flex;
    align-items: center;
}

.header .header-main .header-right .menu li{
    margin-left: 0.9rem;
}

.header .header-main .header-right .menu li a{
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-size: 0.8rem;
}

.header .header-main .header-right .menu li a:hover{
    color: var(--cyan);
}

.header .header-main .header-right .menu .sing-up{
    border: 2px solid var(--cyan);
    padding: 0.6rem 0.7rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.header .header-main  .menu .sing-up a,
.header .header-main  .menu .login a{
    color: var(--cyan) !important;
}

.header .header-main  .menu .sing-up:hover{
    background-color: var(--cyan);
    border-radius: 0;
    
}

.header .header-main  .menu .sing-up:hover a{
    color: #fff !important;
}

.header .header-main  .fb-icon{
    margin-left: 2rem;
    color: #fff;
    padding: 0.5rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 30px;
    
}

.header .header-main  .fb-icon:hover{
    background-color: #3b5a9a;
}

.header .header-main  .menu-icon{
    border: none;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    background-color: rgba(36,41,62,.8);
    color: #fff;
    border-radius: 4px;
    display: none;
}

@media(max-width: 988px){
    .header .header-main{
        background-color: rgba(36,41,62,.8) !important;
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 0.7rem;
    }

    .header .header-main .image{
        margin-left: 15%;
    }


    .header .header-main  .fb-icon{
        position: absolute;
        right: 20%;
        top: 1rem;
    }

    .header .header-main  .menu-icon{
        position: absolute;
        right: 16%;
        top: 1rem;
        display: block;
    }

    .header .header-main .header-right{
        width: 100%;
        height: 0;
        overflow: hidden;
        
    }

    .header .header-main .header-right.active{
        height: 20%;
    }

    .header .header-main .header-right .menu{
        margin: 5% auto;
       display: block;
        background-color: #212529;
        width: 70%;
        padding: 1.5rem 0.5rem;
        height: 0;
        overflow: hidden;
       
    }

    .header .header-main .header-right .menu.active{
        margin: 5% auto;
       display: block;
        background-color: #212529;
        width: 70%;
        padding: 1.5rem 0.5rem;
        height: 20%;
    }

    .header .header-main .header-right .menu li{
        margin-top: 0.8rem;
        border-bottom: 1px solid rgb(44, 41, 41);
        padding: 0.5rem;
        cursor: pointer;
    }
    
    .header .header-main .header-right .menu li a{
        color: rgb(51, 36, 136);
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: 0.2rem;
        font-size: 0.8rem;
        
        margin-bottom: 10px;
    }


    .header .header-main .header-right .menu li:hover{
        background-color: #53575c;
    }

    .header .header-main .header-right .menu li:hover a{
        color: #fff;
    }

    .header .header-main .header-right .menu .sing-up a,
    .header .header-main .header-right .menu .login a{
        color: var(--blue);
    }
    


}

.slide-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image .container .image-title img{
  width: 100%;
  height: 100vh;
}


.slide-image  .wrapper{
    position: absolute;
    max-width: 1125px;
    width: 60%;
    padding: 10px;
}


@media (max-width: 1000px) {
    .slide-image  .wrapper{
        
        width: 200px;
        height: 701px;
        top: 35%;
        left: 15%;
    }
}





.slide-image  .wrapper .WrapContent{
    z-index: 1;
    background-color: rgba(36,41,62,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    color: #fff;
    min-height: 0px;
    min-width: 0;
    max-width: 900px;
    max-width: none;
    
    opacity: 1;
    transform: translate(0px,0px);
   
}

.slide-image  .wrapper .WrapContent .h4{
    font-size: 2.2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}

.slide-image  .wrapper a{
    color: #fff;
    font-size: 16px !important;
    border: none;
    background: #61d5df !important;
    display: block;
    margin: 0 auto;
    max-width: 180px;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}


.section{
    margin-top: 6rem;

}

.section .container1{
    text-align: center;
} 

.section .container1 h2{
    font-size: 44px;
    color: #49547d;
    margin-bottom: 5px;
    font-weight: 800;
}

.section .container1 h3 span {
    line-height: 32px;
    font-weight: 800;
    color: #49547d;
}

.section .text-wrapper{
    margin-top: 15px;
}

.section .text-wrapper h2{

    font-size: 20px;
    line-height: 40px;
    color: #49547d;
    text-align: center;
    font-weight: 400;
}

.section .text-wrapper h2 span{
    font-weight: 800;
}