*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s linear;
   
}

:root{
    --blue: #007bff;
    --cyan: #17a2b8;
}

body{
    font-family: sans-serif;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    
    z-index: 2;

}

.header .header-main{
    background-color: rgba(36,41,62,.8) !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
}

.header .header-main .header-right{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.header .header-main .header-right .menu{
    list-style: none;
    display: flex;
    align-items: center;
}


.header .header-main .header-right .menu li{
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 0.9rem;
    cursor: pointer;
}

.header .header-main .header-right .menu li:hover{
    color: var(--cyan);
}

.header .header-main .header-right .menu .sing-up{
    border: 2px solid var(--cyan);
    padding: 0.6rem 0.7rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.header .header-main  .menu .sing-up a,
.header .header-main  .menu .login a{
    color: var(--cyan) !important;
}

.header .header-main  .menu .sing-up:hover{
    background-color: var(--cyan);
    border-radius: 0;
    
}

.header .header-main  .menu .sing-up:hover a{
    color: #fff !important;
}

.header .header-main  .fb-icon{
    margin-left: 2rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.header .header-main  .fb-icon:hover{
    background-color: #3b5a9a;
}

.header .header-main  .menu-icon{
    border: none;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    background-color: rgba(36,41,62,.8);
    color: #fff;
    border-radius: 4px;
    display: none;
}

@media(max-width: 988px){
    .header .header-main{
        background-color: rgba(36,41,62,.8) !important;
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 0.7rem;
    }

    .header .header-main .image{
        margin-left: 15%;
    }


    .header .header-main  .fb-icon{
        position: absolute;
        right: 20%;
        top: 1rem;
    }

    .header .header-main  .menu-icon{
        position: absolute;
        right: 16%;
        top: 1rem;
        display: block;
    }

    .header .header-main .header-right{
        width: 100%;
        height: 0;
        overflow: hidden;
        
    }

    .header .header-main .header-right.active{
        height: 20%;
    }

    .header .header-main .header-right .menu{
        margin: 5% auto;
       display: block;
        background-color: #212529;
        width: 70%;
        padding: 1.5rem 0.5rem;
        height: 0;
        overflow: hidden;
       
    }

    .header .header-main .header-right .menu.active{
        margin: 5% auto;
       display: block;
        background-color: #212529;
        width: 70%;
        padding: 1.5rem 0.5rem;
        height: 20%;
    }

    .header .header-main .header-right .menu li{
        margin-top: 0.8rem;
        border-bottom: 1px solid rgb(44, 41, 41);
        padding: 0.5rem;
        cursor: pointer;
    }
    
    .header .header-main .header-right .menu li a{
        color: rgb(51, 36, 136);
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: 0.2rem;
        font-size: 0.8rem;
        
        margin-bottom: 10px;
    }


    .header .header-main .header-right .menu li:hover{
        background-color: #53575c;
    }

    .header .header-main .header-right .menu li:hover a{
        color: #fff;
    }

    .header .header-main .header-right .menu .sing-up a,
    .header .header-main .header-right .menu .login a{
        color: var(--blue);
    }
    


}

.slide-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slide-image .container{
    width: 100%;

}

.slide-image .container .image-title img{
  width: 100%;
  height: 100vh;
}


.slide-image  .wrapper{
    position: absolute;
    max-width: 1125px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.slide-image  .wrapper .WrapContent{
    z-index: 1;
    background-color: rgba(36,41,62,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    color: #fff;
    min-height: 0px;
    max-width: none;
    opacity: 1;
    transform: translate(0px,0px);
   width: 100%;
}

.slide-image  .wrapper .WrapContent .h4{
    font-size: 2.2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}

.slide-image  .wrapper span{
    color: #fff;
    font-size: 16px !important;
    border: none;
    background: #61d5df !important;
    display: block;
    margin: 0 auto;
    max-width: 180px;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}


.section{
    margin-top: 6rem;
    letter-spacing: 1px
}

.section .container1{
    text-align: center;
} 

.section .container1 h2{
    font-size: 44px;
    color: #49547d;
    margin-bottom: 5px;
    font-weight: 800;
}

.section .container1 h3 span {
    line-height: 32px;
    font-weight: 800;
    color: #49547d;
}

.section .text-wrapper{
    margin-top: 15px;
}

.section .text-wrapper h2{

    font-size: 20px;
    line-height: 40px;
    color: #49547d;
    text-align: center;
    font-weight: 400;
}

.section .text-wrapper h2 span{
    font-weight: 800;
}

.box-container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.box-container .box{
    width: 350px;
    border: 3px dotted var(--cyan);
    margin: 15px;
}

.box-container .box .container-of-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1.5rem;
    
}

.box-container .box .container-of-box .image-text h2{
    color: #49547d;
    font-weight: 900;
    font-size: 1.6rem;
}

.box-container .box .container-of-box .image-text p{
    color: #49547d;
}

.business-work{
    width: 80%;
    margin: 5rem auto;
    color: #49547d;
    letter-spacing: 1px;
  
}

.business-work>h1{
    font-weight: 800;
    font-size: 32px;
}

.business-work p{
    font-size: 16px;
}

.business-work>h1,
.business-work>p{
    text-align: center;
}

.business-work p span{
    font-weight: 800;
}

.business-work .business-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.business-work .business-container .porto-sicon-box{
    border: 1px solid rgba(97,213,223,.3);
    width: 250px;
    height: 350px;
    margin: 10px;
    
}

.business-work .business-container .porto-sicon-box .photo-container{
   padding: 0.5rem;
}

.business-work .business-container .porto-sicon-box .photo-container .photo-image img{
    width: 100%;
}

.business-work .business-container .porto-sicon-box .photo-container .business-text-image{
    padding: 1.5rem;
}

.business-work .business-container .porto-sicon-box .photo-container .business-text-image h4{
    margin-bottom: 15px;
    font-weight: 800;
}

.business-work .business-container .porto-sicon-box .photo-container .business-text-image p{
    font-size: 14px;
}

.Start span{
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    border: none;
    background: #61d5df !important;
    display: block;
    margin: 0 auto;
    max-width: 180px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.benefits{
    margin-top: 10rem;
}

.benefits h1{
    font-weight: 800;
    font-size: 32px;
}

.benefits p{
    font-size: 18px;
    letter-spacing: 1px;
}

.benefits h1,
.benefits p{
    text-align: center;
    color: #49547d;
}

.benefits .benefit-container{
    margin-top: 7rem;
}

.benefits .benefit-container .benefit-boxes{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.benefits .benefit-container .benefit-boxes .box-benefit{
    width: 34rem;
    display: flex;
    height: 10rem;
    margin: 5px auto;
    
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text{
    margin-left: 15px;
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text h4{
    font-weight: 800;
    color: #49547d;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text p{
    font-size: 0.8rem;
    text-align: left;
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text p span{
    font-weight: 800;
}

.video{
    margin-top: 10rem;
    border-top: 1px solid rgba(97,213,223,.3)
}

.video h2{
    text-align: center;
    color: #49547d;
    font-weight: 800;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.video .video-container{
    display: flex;
    justify-content: center;
}

@media(max-width: 1015px){
    .video .video-container iframe{
        width: 800px;
        height: 600px;
    }
}

@media(max-width: 800px){
    .video .video-container iframe{
        width: 400px;
        height: 300px;
    }
}


.dropship{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.dropship h1{
    text-align: center;
    font-size: 2rem;
    color: #49547d;
    font-weight: 800;
}

.dropship .product-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dropship .product-icons .product-icon{
    width: 120px;
    text-align: center;
    padding: 0.5rem 1rem;
   cursor: pointer;
   margin: 1.7rem;
}

.dropship .product-icons .product-icon:hover{
    border-bottom: 3px solid #49547d
}

.dropship .product-icons .product-icon p{
    margin-top: 5px;
    color: #49547d;
}

.dropship .product-icons .selected{
    border-bottom: 3px solid #49547d;
}

.dropship .product-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dropship .product-title #container{
    position: relative;
    width: 500px;
    overflow: hidden;
    margin: 0.3rem;
}

.dropship .product-title #container .title-image{
    width: 500px;
    cursor: pointer;
    
}


.dropship .product-title #container .title-image img{
    width: 100%;
    
}



.dropship .product-title #container button{
    position: absolute;
    top: 40%;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    color: rgba(110, 110, 112,0.8);
    font-weight: 800;
    visibility: hidden;
}

.dropship .product-title #container button:hover{
    color: rgb(110, 110, 112);
}

.dropship .product-title #container .left{
    transition: left 0.7s linear;
    left: -5%;
}

.dropship .product-title #container .right{
    transition: right 0.7s linear;
    right: -5%;
}

.dropship .product-title #container:hover .left{
    left: 5%;
}

.dropship .product-title #container:hover .right{
    right: 5%;
}


.dropship .product-title #container:hover button{
    visibility: visible;
}

.dropship .product-title #box-container{
    width: 500px;
    margin: 0.8rem;
    
}

.dropship .product-title #box-container h3{
  color: #49547d;
  font-weight: 800;
}

.dropship .product-title #box-container p{
    margin-top: 0.5rem;
    color: #49547d;
}

.dropship #porto-btn{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

 .dropship #porto-btn span{
    color: #fff;
    background-color: #61d5df;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.intergations{
    margin-top: 4rem;
}

.intergations h1{
    text-align: center;
    color: #49547d;
    font-size: 1.8rem;
    font-weight: 800;
}

.intergations .integration-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intergations .integration-boxes img{
    transition: opacity 0.4s linear;
    margin: 4rem;
    opacity: 0.5;
}

.intergations .integration-boxes img:hover{
    opacity: 1;
}

.Vc-row{
    background-color: #24293e !important;
}

.Vc-row .Vc_row-container{
    padding: 5rem 8rem;
    height: 100%;
}

.Vc-row .Vc_row-container .Vc-row_titles{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Vc-row .Vc_row-container .Vc-row_titles .tap-title{
    margin: 0 0.2rem;
    padding: 1rem;
    border-bottom: 3px solid #fff;
    font-weight: 800;
    cursor: pointer;
}

.Vc-row .Vc_row-container .Vc-row_titles .tap-title:hover{
    color: #61d5df;
    border-bottom: 3px solid #61d5df;
}

.Vc-row .Vc_row-container .Vc-row_titles .change-style{
    color: #61d5df;
    border-bottom: 3px solid #61d5df;
}

.Vc_row-container .Vc-row_Text{
    margin-top: 1rem;
    color: #fff;
    line-height: 1.4;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.Vc_row-container .Vc-row_Text1{
    display: block;
}

.Vc_row-container .Vc-row_Text h5{
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
}

.Vc_row-container .Vc-row_Text p{
    margin-top: 0.7rem;
    font-size: 15px;
    line-height: 1.4;
}


.Vc_row-container .Vc-row_Text2 h5{
    margin-top: 3rem;
}

.Vc_row-container .Vc-row_Text2 p{
    margin-top: 0.2rem;
}

.Vc_row-container .Vc-row_Text4 h6{
    font-size: 14px;
    margin-top: 0.6rem;
    font-weight: 800;
}

.Vc_row-container .Vc-row_Text4 ul{
    margin-top: 1rem;
    margin-left: 2rem;
    list-style: circle;
}

.Vc_row-container .Vc-row_Text4 li{
    font-size: 14px;
    line-height: 1.5;
}

.footer{
    background-color: #212529;
}

.footer .footer-container{
    padding: 2rem 6rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255,255,255,.05);
    flex-wrap: wrap;
}

.footer .footer-container .footer-image{
    line-height: 1.6;
}

.footer .footer-container .footer-image img{
    width: 6rem;
}

.footer .footer-container .footer-box{
    width: 18rem;
   
}

.footer .footer-container .footer-list{
    line-height: 1.6;
}

.footer .footer-container .footer-list ul{
    list-style: none;
}

.footer .footer-container .footer-list ul li{
    cursor: pointer;
    margin-top: 7px;
}

.footer .footer-container .footer-list ul .bold-list{
    font-weight: 800;
    font-size: 1rem;
    cursor: default;
}

.footer .footer-center{
    text-align: center;
    color: #555;
    padding: 1rem 2rem;
}



@media (max-width:1052px){
    .slide-image  .wrapper{
        position: absolute;
        max-width: 1000px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
   
}

@media (max-width: 992px){
    .footer .footer-container{
        padding: 2rem 6rem;
        color: #fff;
        display: flex;
        justify-content: left;
        flex-direction: column;
        border-bottom: 1px solid rgba(255,255,255,.05);
        flex-wrap: wrap;
    }

    .footer .footer-container .footer-box{
        margin-top: 15px;
    }
}